---
permalink: /sitemap.xml
layout: false
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% if siteOrigin %}
{% for item in collections.seoPages %}
<url><loc>{{ item.url | url | absoluteUrl }}</loc></url>
{% endfor %}
{% for group in calculators %}
{% for calculator in group.items %}
<url><loc>{{ calculator.url | url | absoluteUrl }}</loc></url>
{% endfor %}
{% endfor %}
{% endif %}
</urlset>